formatted all flows.json
[
    {
        "id": "da32c7be.003768",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c0169.8c8e3e98",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#1faf6a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "850803f9.81682",
        "type": "ui_group",
        "z": "",
        "name": "INPUT",
        "tab": "6c51a50f.a2508c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "18175493.6a03cb",
        "type": "ui_group",
        "z": "",
        "name": "INPUT",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e85de54e.3a67b8",
        "type": "ui_group",
        "z": "",
        "name": "FORM",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "94188b99.7e9448",
        "type": "ui_group",
        "z": "",
        "name": "CHATBOT",
        "tab": "56e1b60c.32a708",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d86038d4.326918",
        "type": "ui_group",
        "z": "",
        "name": "OUTPUT",
        "tab": "f7445c4b.dbce9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "651e02e9.8571ac",
        "type": "ui_group",
        "z": "",
        "name": "OUTPUT",
        "tab": "56e1b60c.32a708",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": true
    },
    {
        "id": "56e1b60c.32a708",
        "type": "ui_tab",
        "z": "",
        "name": "PAGE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7445c4b.dbce9",
        "type": "ui_tab",
        "z": "",
        "name": "PAGE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4b929b15.2563e4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c51a50f.a2508c",
        "type": "ui_tab",
        "z": "",
        "name": "Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "468cc44a.e0c80c",
        "type": "inject",
        "z": "da32c7be.003768",
        "name": "",
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "52436a8.04d2294"
            ]
        ]
    },
    {
        "id": "52436a8.04d2294",
        "type": "watson-conversation-v1",
        "z": "da32c7be.003768",
        "name": "assistant",
        "workspaceid": "5c68bf06-554d-45b9-9ed1-f6259b8e1a65",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "",
        "timeout": "",
        "optout-learning": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6a4a18c5.e241a8"
            ]
        ]
    },
    {
        "id": "ad1dff5f.cb8b4",
        "type": "debug",
        "z": "da32c7be.003768",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "6a4a18c5.e241a8",
        "type": "function",
        "z": "da32c7be.003768",
        "name": "Parsing",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ad1dff5f.cb8b4",
                "1799f13c.2abfdf"
            ]
        ]
    },
    {
        "id": "da602703.cea7f8",
        "type": "ui_form",
        "z": "da32c7be.003768",
        "name": "",
        "label": "",
        "group": "94188b99.7e9448",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your Input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "98432ace.295d08"
            ]
        ]
    },
    {
        "id": "98432ace.295d08",
        "type": "function",
        "z": "da32c7be.003768",
        "name": "Input Parsing",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "52436a8.04d2294",
                "c3394a68.98f698"
            ]
        ]
    },
    {
        "id": "c3394a68.98f698",
        "type": "ui_text",
        "z": "da32c7be.003768",
        "group": "651e02e9.8571ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "1799f13c.2abfdf",
        "type": "ui_text",
        "z": "da32c7be.003768",
        "group": "651e02e9.8571ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BOT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    }
]