formatted current flow.json
[
    {
        "id": "da32c7be.003768",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "468cc44a.e0c80c",
        "type": "inject",
        "z": "da32c7be.003768",
        "name": "",
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "52436a8.04d2294"
            ]
        ]
    },
    {
        "id": "52436a8.04d2294",
        "type": "watson-conversation-v1",
        "z": "da32c7be.003768",
        "name": "assistant",
        "workspaceid": "5c68bf06-554d-45b9-9ed1-f6259b8e1a65",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "",
        "timeout": "",
        "optout-learning": false,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6a4a18c5.e241a8"
            ]
        ]
    },
    {
        "id": "ad1dff5f.cb8b4",
        "type": "debug",
        "z": "da32c7be.003768",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "6a4a18c5.e241a8",
        "type": "function",
        "z": "da32c7be.003768",
        "name": "Parsing",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ad1dff5f.cb8b4",
                "1799f13c.2abfdf"
            ]
        ]
    },
    {
        "id": "da602703.cea7f8",
        "type": "ui_form",
        "z": "da32c7be.003768",
        "name": "",
        "label": "",
        "group": "94188b99.7e9448",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your Input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "98432ace.295d08"
            ]
        ]
    },
    {
        "id": "98432ace.295d08",
        "type": "function",
        "z": "da32c7be.003768",
        "name": "Input Parsing",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "52436a8.04d2294",
                "c3394a68.98f698"
            ]
        ]
    },
    {
        "id": "c3394a68.98f698",
        "type": "ui_text",
        "z": "da32c7be.003768",
        "group": "651e02e9.8571ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "1799f13c.2abfdf",
        "type": "ui_text",
        "z": "da32c7be.003768",
        "group": "651e02e9.8571ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BOT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "94188b99.7e9448",
        "type": "ui_group",
        "z": "",
        "name": "CHATBOT",
        "tab": "56e1b60c.32a708",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "651e02e9.8571ac",
        "type": "ui_group",
        "z": "",
        "name": "OUTPUT",
        "tab": "56e1b60c.32a708",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": true
    },
    {
        "id": "56e1b60c.32a708",
        "type": "ui_tab",
        "z": "",
        "name": "PAGE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]